mixin footer
  footer#footer
    .container
      p.text-muted.credit.
        vhschan Copyright &copy; 2014 StaffVHS
  script(src="//code.jquery.com/jquery-1.11.0.min.js")
  // Must be included before jQuery-UI since jQuery-UI overrides jQuery.fn.button
  // I should really abandon this crap one day
  script(src="//code.jquery.com/ui/1.10.3/jquery-ui.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")
